.content {
    text-align-last: center;
}

.content p {
    margin: 10px;
}

body {
    font-size: 5.5vh;

}

table, td {
    border-collapse: collapse;
    border-style: dotted;
}

table{
    margin: auto;
}

tr {
    height: 75px;
    font-weight: bold;
}

td {
    width: 75px;
}

.first{
    height: 37.5px;
    font-weight: bold;
}

#time p {
    display: contents;
}


#time{
    width: 50%;
    margin-top: 10px;
    text-align-last: left;
    border-style: none;
}

#time td{
    border-style: none;
}

.right{
    padding-right: 10px;
    text-align-last: right !important;
}